SECRET_HMAC_KEY=<your_secret_hmac_key>               # Used to validate webhook requests-> High entropy generatedkey
AWS_ACCESS_KEY_ID=<your_aws_access_key_id>           # AWS Access Key for SQS
AWS_SECRET_ACCESS_KEY=<your_aws_secret_access_key>   # AWS Secret Key for SQS
AWS_DEFAULT_REGION=<your_aws_default_region>         # AWS Region for SQS
AWS_QUEUE_NAME=<your_aws_queue_name>                 # Name of the SQS queue
BASIC_AUTH_USERNAME=<your_basic_auth_username>       # Username for Basic Authentication
BASIC_AUTH_PASSWORD=<your_basic_auth_password>       # Password for Basic Authentication
SSH_URL=<your_ssh_url_for_vps>                       # SSH URL used in the Makefile to login to your VPS
